/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.page-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #cccccc;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 20px;
}

code {
    font-size: 80%;
}

#StudentTable_th{
    background-color: #ED7d31;
    color: #ffffff;
}

#StudentTable_tr{
    background-color: #FBE4D5;
}

#GardeTable_th{
    background-color: #5B9BD5;
    color: #ffffff;
}

#GardeTable_tr{
    background-color: #DEEAF6;
}

#addCourseTable_th{
    background-color: #FFC000;
    color: #ffffff;
}


#addCourseTable_tr{
    background-color: #FFF2CC;
}

/* CheckBox style
----------------------------------------------*/

/* Customize the label (the container) */
.labelcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.labelcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.labelcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.labelcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.labelcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
