/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.page-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #cccccc;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 20px;
}

code {
    font-size: 80%;
}

#StudentTable_th{
    background-color: #ED7d31;
    color: #ffffff;
}

#StudentTable_tr{
    background-color: #FBE4D5;
}

#GardeTable_th{
    background-color: #70AD47;
    color: #ffffff;
}

#GardeTable_tr{
    background-color: #E2EFD9;
}